body, html
*{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;

}
body {
    background-color: rgb(1, 35, 51);

}

.card{
    width: 100%;
    min-height: 450px;
    background-color: darkcyan;
    margin: 0 0;
    border-radius: 20px;
    left: 0;
    position: relative;
    height:auto;
    line-break: normal;


}

.container {
    width: 90vw;
    background-color: transparent;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: normal;
   
}

.card-img{
    display: block;
    width: 90%;
    margin: 20px auto;
    position: relative;
    height: 70%;
    border: 2px solid black;
    object-fit: cover;
}

.card-header{
    width: 90%;
    height: auto;
    margin: 20px auto;
    position: relative;
    font-size: 1.5rem;
    color: white;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-variation-settings:
    "width" 100;
}

.price{
    width: 90%;
    height: auto;
    margin: 20px auto;
    position: relative;
    font-size: 1rem;
    top: 0;
}

.morelink{
    display: block;
    width: 90%;
    margin: 20px auto;
    line-break:strict;
}
.cardsub{
    background-color: #0d171c;
    height: 382.5px;
    overflow: hidden;
    border-radius: 15px 15px 20px 20px;
}

.linkcard{
    width: 22%;
    text-decoration: none;
    height: 450px;
    margin: 25px 0;
    transition: 0.13s cubic-bezier(0,1.27,.81,1.29);
    border-radius: 20px;
    
    box-shadow: 1px 2px 5px 5px black;
}

@media screen and (max-width: 1500px){
    #Lint{
        word-break: break-all;
    }
    .html{
        background-color: red;
    }
}


@media screen and (max-width: 1000px) {
    .container{
        flex-direction: column;
        transition-timing-function: cubic-bezier(.47,1.23,.75,1.11)
    }
    .linkcard{
        width:100%
    }
}
.linkcard:hover{
    transform: translateY(20px) ;
}

 
