body, html
*{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;

}
body {
    background-color: rgb(1, 35, 51);

}

.card{
    width: 100%;
    height: 450px;
    background-color: darkcyan;
    margin: 25px 0;
    border-radius: 20px;
    left: 0;
    position: relative;


}

.container {
    width: 90vw;
    background-color: transparent;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.card-img{
    display: block;
    width: 90%;
    margin: 20px auto;
    position: relative;
    height: 70%;
    border: 2px solid black;
    object-fit: cover;
}

.card-header{
    width: 90%;
    height: auto;
    margin: 20px auto;
    position: relative;
    font-size: 2rem;
    color: white;
}

.price{
    width: 90%;
    height: auto;
    margin: 10px auto;
    position: relative;
    font-size: 1rem;
    top: 10px
}

.morelink{
    display: block;
    width: 90%;
    margin: 20px auto;
}
.cardsub{
    background-color: #0d171c;
    height: 85%;
    overflow: hidden;
    border-radius: 20px;
}

.linkcard{
    width: 30%;
    text-decoration: none;
    height: 450px;
    margin: 25px 0;
}